<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CustomCollectionView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A16267291ECE4C7B008C6254</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A162673D1ECE4C7B008C6254</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A16267481ECE4C7B008C6254</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
